@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.menu {
  color: $menu-text-item-color;
  background-image: url("../../assets/images/pic.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.menuBox {
  box-shadow: 30px 30px 0px $background-shadow-color;

  max-width: 900px;
  min-width: 300px;

  margin: $menu-page-margin;

  background-color: $menu-background-colour;
  color: $menu-text-item-color;

  font-family: $menu-font;

  .menuItemName {
    p {
      font-weight: $menu-text-item-weight;
      font-size: $menu-text-item-size;
      margin: 0;
    }
  }

  .menuType {
    display: flex;
  }

  .menuItemDesc {
    p {
      font-weight: $menu-text-desc-weight;
      font-size: $menu-text-desc-size;
    }
  }

  .menuItemPrice {
    margin: auto 0;
    padding-right: $menu-items-left-right-padding;
    padding-left: $menu-items-left-right-padding;
    p {
      font-weight: $menu-text-price-weight;
      font-size: $menu-text-price-size;
    }
  }

  .menuComp {
    padding-left: $menu-items-left-right-padding;
  }

  .menuCategory {
    align-items: start;
    padding-left: $menu-items-left-right-padding;
    font-size: $menu-category-text-size;

    font-size: $menu-category-text-size;
    font-weight: $menu-category-text-weight;
  }

  h2 {
    font-family: $menu-title-font;
    border-bottom: 1px solid white;
    font-size: $menu-title-font-size;
    font-weight: $menu-title-font-weight;

    padding-top: $menu-category-up-down-padding;

    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }

  h5 {
    font-family: $menu-title-font;
    // padding-bottom: $menu-category-up-down-padding;
    padding-top: $menu-category-up-down-padding;
  }
}

ul {
  list-style-type: none;
}
