@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.menuContainer {
  padding-left: $menu-category-up-down-padding-mobile;
  padding-right: $menu-category-up-down-padding-mobile;

  @include tablet {
    padding-left: $menu-items-left-right-padding-tablet;
    padding-right: $menu-items-left-right-padding-tablet;
  }
}

.menuBox {
  box-shadow: 15px 15px 0px $background-shadow-color;
  @include tablet {
    box-shadow: 30px 30px 0px $background-shadow-color;
  }

  max-width: 900px;
  min-width: 300px;

  margin: $menu-page-margin;

  background-color: $menu-background-colour;
  color: $menu-text-item-color;

  font-family: $menu-font;

  .menuItemName {
    p {
      font-weight: $menu-text-item-weight;
      font-size: $menu-text-item-size;
      margin: 0;
    }
  }

  .menuType {
    display: flex;
  }

  .menuItemDesc {
    p {
      font-weight: $menu-text-desc-weight;
      font-size: $menu-text-desc-size;
    }
  }

  .menuItemPrice {
    p {
      font-weight: $menu-text-price-weight;
      font-size: $menu-text-price-size;
    }
  }

  .menuCategory {
    align-items: start;
    font-size: $menu-category-text-size;
    font-size: $menu-category-text-size;
    font-weight: $menu-category-text-weight;
    padding-bottom: 1rem;
  }

  h2 {
    font-family: $menu-title-font;

    font-size: $menu-title-font-size;
    font-weight: $menu-title-font-weight;

    padding-top: $menu-category-up-down-padding-mobile;

    margin: 0 auto;
    text-align: center;
    display: inline-block;
  }

  .menuType {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .spacer-menu {
    height: 1rem;
    width: 4rem;
    border-bottom: 1px solid white;
  }
  h5 {
    font-family: $menu-title-font;
    // padding-bottom: $menu-category-up-down-padding-mobile;
    padding-top: $menu-category-up-down-padding-mobile;
  }
  ul {
    list-style-type: none;
  }
}
