@use "../../styles/partials/mixins" as *;
@import "../../styles/partials/variables";

.image-container {
  object-fit: cover;
  min-width: 320px;
  max-width: $tablet-breakpoint;
  padding: 1rem;
}

.image {
  object-fit: cover;
}

@include desktop {
  .image-container {
    max-width: 600px;
    padding: 1rem;
  }
}
