@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.menuComp {
  display: flex;
  justify-content: space-between;
}

.nameDesc {
  padding: 1rem;
  align-items: start;
  text-align: left;
}

.menuItemDesc {
  font-size: 0.5;
}

.menuItemPrice {
  margin: auto 0;
  padding-right: 1rem;
}
