@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.menuComp {
  display: flex;
  justify-content: space-between;
}

.nameDesc {
  align-items: start;
  text-align: left;
}
