@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexLeft($direction) {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: $direction;
}

@mixin pictureTheme() {
  background-image: BACKGROUND-IMAGE;
  background-size: BACKGROUND-SIZE;
}
