$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$HEADER-FONT-SIZE: 15pt;

$primary-bg-colour: #1b1b1b;
$PRIMARY-TEXT-COLOUR: white;
$max-width: 1280px;

$primary-text-size: 10pt;
$text-item-size: 10pt;
$text-desc-size: 10pt;
$text-price-size: 11pt;

$menu-text-item-color: #000000;
$menu-text-desc-color: #000000;
$menu-text-price-color: #000000;
$menu-background-colour: #fdfaf5;
