$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$HEADER-FONT-SIZE: 15pt;

$primary-bg-colour: #1b1b1b;
$PRIMARY-TEXT-COLOUR: white;
$max-width: 1280px;

$primary-text-size: 10pt;
$text-item-size: 10pt;
$text-desc-size: 10pt;
$text-price-size: 11pt;

// Styling for menu page

$menu-text-item-color: #fdfaf5;
$menu-text-desc-color: #fdfaf5;
$menu-text-price-color: #fdfaf5;
$menu-background-colour: #1b1b1b;

$background-colour: #fdfaf5;
$background-shadow-color: #2d3e43;
$text-color: #000000;

$menu-page-margin: 1rem;

$menu-text-item-size: 1.125rem;
$menu-text-item-weight: 600;
$menu-text-desc-size: 0.9rem;
$menu-text-desc-weight: 300;
$menu-text-price-size: 1rem;
$menu-text-price-weight: 400;

$menu-category-text-size: 2rem;
$menu-category-text-weight: 100;

$menu-title-font-size: 3rem;
$menu-title-font-weight: 500;

$menu-items-left-right-padding-mobile: 2rem;
$menu-category-up-down-padding-mobile: 2rem;

$menu-items-left-right-padding-tablet: 5rem;
$menu-category-up-down-padding-tablet: 2rem;

$menu-title-font: "SometypeMono";
$menu-font: "Inter";

$footer-title-font-size: 3rem;

$menu-bottom-margin: 1rem;
