@font-face {
  font-family: "Jost";
  src: url(../assets/fonts/Jost-VariableFont_wght.woff2)
    format("woff2-variations");
  font-weight: 0 900;
  font-display: swap;
}

@font-face {
  font-family: "Merienda";
  src: url(../assets/fonts/Merienda-VariableFont_wght.woff2)
    format("woff2-variations");
  font-weight: 0 900;
  font-display: swap;
}
