@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.container_wrapper {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_contact {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: center;
  // width: $desktop-breakpoint;

  margin: auto;
  font-family: "SometypeMono";

  &_element {
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    margin-bottom: 2rem;
  }

  &_forms {
    background-color: #1b1b1b;
    color: white;
    width: 100%;
    display: flex;
    margin: auto;

    padding: 4rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    margin: auto;
    justify-content: center;
    width: 100%;
    max-width: 580px;

    &_split {
      white-space: nowrap;
      display: flex;
      align-items: start;
      justify-content: space-between;

      &_item {
        white-space: nowrap;
        width: 45%;
      }
    }

    &_modal {
    }
    &_header {
      // display: flex;
      // flex-direction: column;
      // justify-content: flex-start;
    }
    &_fields {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      width: 100%;
    }
    &_field {
      // margin: auto;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      width: 100%;
    }
    @media (max-width: $tablet-breakpoint) {
      padding: 2rem;
      margin: 1rem;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
    }
  }
}
