@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

.wrapper {
  background: url(../../assets/images/pic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  color: white;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;

  &__heading {
    font-size: 2rem;
    font-family: "Babas Neue";
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: center;
    width: 70%;
    border-bottom: white solid 1px;
    padding-bottom: 1rem;
    letter-spacing: 0.2rem;
  }

  &__text {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }

  &__button {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 2rem;
    margin: 10px 0px;
    cursor: pointer;
    border: white solid 1px;
  }
}

.section {
  background-image: url(../../assets/images/temp4.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  padding: 1rem;
  color: white;
  gap: 1rem;
  width: 100%;
  padding-top: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: rgb(251, 248, 248) solid 1px;
    padding-bottom: 1rem;
  }
  :last-child {
    border-bottom: none;
  }

  &__heading {
    font-family: "Inter";
    letter-spacing: 0.1rem;
    font-size: 2rem;
    text-shadow: #1b1b1b;
  }

  &__subheading {
    font-weight: 500;
    font-size: 1rem;
  }

  &__paragraph {
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 0.2rem;
    width: 60%;
  }

  &__times {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: baseline;
  }

  &__hours {
    border-right: 1px solid rgb(249, 246, 246);
    padding-right: 1.5rem;
  }

  &__lunch {
    padding-left: 1rem;
  }
}

// .information {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   height: 100vh;
//   padding: 2rem;
//   color: white;
//   gap: 1rem;
//   width: 100%;

// .landing {
//   width: 100%;
//   height: 100vh;
// }

// .background {
//   background-image: url("/pic.jpg");
//   background-size: cover;
//   padding: 2rem;
//   width: 100%;
//   height: 100vh;
//   object-fit: cover; /* Maintain aspect ratio and cover the entire container */
//   z-index: -1; /* Place it behind the content */
// }

// .content {
//   padding: 20px;
//   color: white;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   /* Add more styles for your content */

//   h1 {
//     font-family: "Bebas Neue";
//     font-size: 3rem;
//     align-items: center;
//     text-align: center;
//     font-weight: 800;
//     padding: 1rem;
//   }

//   p {
//     font-family: "Inter";
//     margin: auto;
//     padding: 1px;
//   }
// }

// .storyContainer {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   align-items: center;

//   margin: auto;
//   padding: 2rem;

//   p {
//     font-family: "Markazi";
//     font-size: 0.8 rem;
//   }

//   h3 {
//     font-family: "Markazi";
//     font-size: 2rem;
//     font-weight: 500;
//     font-optical-sizing: 72;
//     text-align: center;
//     padding-top: 1rem;
//     margin-bottom: 0;
//   }
// }

// .menuButton {
//   background-color: black;
//   color: white;
//   font-size: 20px;
//   padding: 10px 60px;
//   border-radius: 5px;
//   margin: 10px 0px;
//   cursor: pointer;
// }

// .divCenter {
//   text-align: center;
// }

// .aboutContainer {
//   display: flex;
//   padding: 2rem 0;
//   align-items: left;
//   justify-content: center;
//   text-align: left;
//   gap: 5rem;
//   width: 100%;
// }

// .information {
//   h3,
//   p,
//   h4 {
//     font-family: Markazi;
//   }
// }
