@import "../../styles/partials/mixins";

.centerbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.homebutton {
  margin: 10px;
}

.background {
  background-image: url("/pic.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}
