
.background{
    background-image: url('/pic.jpg');
    background-size: cover;
}

.centerbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    
}

.homebutton{
    margin: 10px;
}