@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap");

.burger-menu {
  .burger-menu-button {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__bar {
      display: block;
      width: 23px;
      height: 1.5px;
      margin-bottom: 5px;
      background-color: #fffefe;
    }
  }

  .menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(
      0,
      0,
      0,
      0.5
    ); // semi-transparent background to create the overlay effect, if you want it just like in Figma, this needs to be removed but I think it looks nicer with it
    display: none;
    align-items: center;
    justify-content: flex-end;
    z-index: 2; // set a higher z-index to ensure the modal is above the burger menu button
  }

  .menu-items {
    width: 60%; // adjust the width of the menu as needed
    height: 100%;
    background-color: $primary-bg-colour;
    color: white; // adjust the text color of the menu
    padding-top: 5rem;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      gap: 1rem;
    }

    &__items {
      font-family: "Nunito Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-transform: uppercase;
    }
  }

  .exit-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 40px;
    font-weight: 300;
  }

  &.open .menu-modal {
    display: flex;
  }
}
