.footer {
  width: 100%;
  background-color: #1b1b1b;
  margin: 0;
  min-width: 100%;
}

.main-colour-text {
  color: white;
}

.title-row {
  padding: 7px;
}

.icons-row {
  padding: 7px;
}

.trademark-row {
  padding: 7px;
}



.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1b1b;
  padding: 2rem;
  color: white;
  gap: 1rem;
  width: 100%;
}