@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  width: 100%;
  background-color: #1b1b1b;
  margin: 0;
}

.footer-container {
  font-family: "Inter";

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-around;

  max-width: $container-max-width;

  &__main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 75%;
  }

  &__element {
    padding: 1rem;
    text-align: center;
    min-width: 250px;
  }

  &__heading {
    padding: 0.25rem;
  }

  &__text {
    padding: 0.25rem;
    margin: 0;
  }

  &__main-heading {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__title1 {
    font-family: "Allison";
    padding: 0.25rem;
    font-size: 4rem;
  }

  &__title2 {
    font-family: "Bebas Neue";
    padding: 0.25rem;
    font-size: $footer-title-font-size;
  }
}

.main-colour-text {
  color: white;
}

.trademark {
  padding: 1rem;
  text-align: center;
}
