$TOP-BOT-PADDING: 10pt;
$SIDE-PADDING: 10pt;

.blog-container {
  max-width: 640px;
  min-width: 320px;
  width: 100%;
}

.blog-post {
  padding-top: $TOP-BOT-PADDING;
  padding-bottom: $TOP-BOT-PADDING;
  padding-left: $SIDE-PADDING;
  padding-right: $SIDE-PADDING;
}
