@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

$background-colour: #1b1b1b;
$background-shadow-color: grey;

$TOP-BOT-PADDING: 10pt;
$SIDE-PADDING: 3pt;

.menu {
  padding-top: $TOP-BOT-PADDING;
  padding-bottom: 40pt;
  padding-left: $SIDE-PADDING;
  padding-right: $SIDE-PADDING;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuBox {
  @include flexCenter(column);
  box-shadow: $background-shadow-color;
  max-width: $desktop-breakpoint;
  min-width: 300px;
  background-color: $background-colour;
}

.menuCategory {
  @include flexLeft(column);

  // font-size: $HEADER-FONT-SIZE;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.buttonGroup {
  display: flex;
  width: 100%;
  // justify-content: space-around;
}
.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5 rem;
  margin: 0;
  border: 0;
  border-radius: 0;
  p {
    margin: 0;
  }

  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.active {
    background-color: $menu-background-colour;
  }
}

.spacer {
  margin: $menu-bottom-margin;
}
